


This is just a simple notebook to convert .sav files to csv files and then look at the data.

In particular. I will get files from this site: https://www.slavevoyages.org/

Check out the following links:     
https://stackoverflow.com/questions/59122424/issue-in-reading-spss-file-in-python

https://stackoverflow.com/questions/42532250/convert-a-sav-file-to-csv-file-in-python

https://stackoverflow.com/questions/67139810/how-do-i-get-pandas-to-read-spss-files

https://superuser.com/questions/1443178/anaconda-prompt-why-theres-a-syntax-error-when-typing-conda-list

https://stackoverflow.com/questions/62962795/how-to-read-spss-aka-sav-in-python

In [ ]:
#conda install -c conda-forge pyreadstat

!pip install pyreadstat

import pandas as pd
import pyreadstat



df = pd.read_spss("tastdb-exp-2020.sav")
df.to_csv("tastdb-exp-2020.csv", index=False)

Requirement already satisfied: pyreadstat in /usr/local/lib/python3.7/dist-packages (1.1.4)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pyreadstat) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.15.0)

In [ ]:
df.head()

   VOYAGEID  ADLT1IMP  ADLT2IMP  ADLT3IMP  ... YEARDEP YRCONS  YRREG      filter_$
0       1.0       NaN       1.0       NaN  ...  1816.0    NaN    NaN  Not Selected
1       2.0       NaN       NaN       NaN  ...  1816.0    NaN    NaN  Not Selected
2       3.0       NaN       NaN       NaN  ...  1816.0    NaN    NaN  Not Selected
3       4.0       NaN       NaN       NaN  ...  1816.0    NaN    NaN  Not Selected
4       5.0       NaN       NaN       NaN  ...  1817.0    NaN    NaN  Not Selected

[5 rows x 274 columns]

For the next cell below:     
https://stackoverflow.com/questions/28583565/str-object-has-no-attribute-decode-python-3-error

https://stackoverflow.com/questions/56029700/converting-sav-file-to-pandas-dataframe

In [ ]:
#I would use the SavReaderWriter package:

!pip install savReaderWriter --upgrade

#import pandas
import savReaderWriter

with savReaderWriter.SavReader('tastdb-1999.sav', ioUtf8 = True) as reader:
    df1999 = pd.DataFrame(reader.all())
df1999.head()

Requirement already satisfied: savReaderWriter in /usr/local/lib/python3.7/dist-packages (3.4.2)

   0                1   2   3   4    5    ...  220  221  222  223  224  225
0  1.0  Pastora de Lima              NaN  ...  5.0  NaN  NaN  NaN  NaN  NaN
1  2.0           Tebaio              NaN  ...  5.0  NaN  NaN  NaN  NaN  NaN
2  3.0     Paquete Real              NaN  ...  5.0  NaN  NaN  NaN  NaN  NaN
3  4.0      Bom Caminho              NaN  ...  5.0  NaN  NaN  NaN  NaN  NaN
4  5.0       Benigretta              NaN  ...  5.0  NaN  NaN  NaN  NaN  NaN

[5 rows x 226 columns]

In [ ]:
df1999.to_csv("tastdb-1999.csv", index=False)

This next part is easy. I just want to look at these csv files...

Check this out:    
https://www.kaggle.com/paultimothymooney/how-to-resolve-a-unicodedecodeerror-for-a-csv-file

In [ ]:
import chardet
with open("I-Am1.0.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.73, 'encoding': 'ISO-8859-1', 'language': ''}

In [ ]:
df_Ia = pd.read_csv("I-Am1.0.csv", encoding='ISO-8859-1')
df_Ia.head()

   IntraAmer  voyageid  yearam rig  ... voyageID2 AFRINFO Other_Cargo COMMENTS
0          1    161000    1550      ...
1          1    161001    1561      ...
2          1    161002    1561      ...
3          1    161003    1563      ...
4          1    160600    1587      ...

[5 rows x 169 columns]

Now, let's look at the names database...

Check out:     
https://stackoverflow.com/questions/53750791/specify-dtype-option-on-import-or-set-low-memory-false

In [ ]:
df_names = pd.read_csv("AfricanNamesDatabase.csv", dtype='unicode')
df_names.head()

  id  name age height  ... datearr      majbuypt  majselpt  source
0  1  Bora  30   62.5  ...    1819  Little Bassa  Freetown  FO84/4
1  2  Flam  30   64.0  ...    1819    Trade Town  Freetown  FO84/4
2  3   Dee  28   65.0  ...    1819    Trade Town  Freetown  FO84/4
3  4   Pao  22   62.5  ...    1819    Trade Town  Freetown  FO84/4
4  5  Mufa  16   59.0  ...    1819    Trade Town  Freetown  FO84/4

[5 rows x 12 columns]